<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="welcome-section">
            <div class="logo-container">
                <img src="{% static 'media/oxi_emblem.png' %}" alt="Логотип" class="logo">
            </div>
            <h1>Добро пожаловать!</h1>
            <p>Мы рады видеть вас здесь. Узнайте больше о наших услугах и зарегистрируйтесь, чтобы получить доступ ко всем возможностям.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
        </section>
    </main>
    <footer>
        <p>© 2024 Ваш сайт. Все права защищены.</p>
    </footer>
</body>
</html>