body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px; /* Ограничение максимальной ширины */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login, .register {
    margin: 20px 0;
}

.form-row {
    margin-bottom: 15px;
}

.form-text {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-login {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #0056b3;
}

.forgot, .create-account, .social-media {
    margin-top: 10px;
    display: block;
    color: #555;
}

.social-media i {
    margin: 0 5px;
    font-size: 20px;
}