.form-label {
  color: #555;
  font-size: 12px;
}

.form-password,
.form-text {
  border-radius: 2px;
  border: 0;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 40px 0 10px;
  width: 100%;
  transition: 100ms all linear 0s;
  background-size: 0 2px, 100% 1px;
  background: #f1f1f1 linear-gradient(109.6deg, rgba(116, 18, 203, 1) 11.2%, rgba(230, 46, 131, 1) 91.2%) no-repeat 50% 100%, 50% 100%;
}

.form-password:focus,
.form-text:focus {
  background-size: 100% 2px, 100% 1px;
  outline: none;
}

.register {
  transform: scale(1.01);
  background-image: linear-gradient(109.6deg, rgba(116, 18, 203, 1) 11.2%, rgba(230, 46, 131, 1) 91.2%);
}

.register .fas,
.register strong {
  color: #fff;
}

.register .form .form-label {
  color: #fff;
}

.register .form .form-row .fas {
  color: #fff; /* Замените на фактическое значение цвета */
}

.register .form .button-login {
  margin-top: 20px;
}

.register .btn-login {
  background: #fff;
  color: #555;
}

.register .btn-login .fas.fa-arrow-right {
  color: #555;
}

.register .btn-login:hover {
  background: #d5d7de;
}

.register .create-account {
  color: #fff;
}

.register .social-media {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}

.register .social-media .fab {
  margin: 0 3px;
}