body {
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Черный фон */
    color: #ffd700; /* Золотой текст */
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffd700; /* Золотой текст */
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

.registration-section {
    background-color: #333; /* Темный фон для секции */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffd700; /* Золотой текст */
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    width: 20%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.error-messages {
    color: red;
    margin-top: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffd700; /* Золотой текст */
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.btn-primary {
    background-color: #0056b3;
}

footer {
    background-color: #007bff;
    color: #ffd700; /* Золотой текст */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}